@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Loop:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
html { 
    scroll-behavior: smooth; 
  } 

body{
    background-color: cadetblue !important;
    font-family: 'Zen Loop', cursive;
    margin: 0;
}

#landing{
    background-image: url('https://picsum.photos/id/135/2560/1920');
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: left;
    padding-top: 30vh;
    padding-left: 7vw;
    position: relative;
}

#landing h1{
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 7px;
}

li img.icon{
    opacity: 0;
}

#landing p:first-of-type{
    font-family: monospace;
    overflow: hidden;
    letter-spacing: 2px;
   animation: typing 5s steps(10, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 400;
  border-right: 2px solid orange;
  box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(0, 132, 255); 
    }
}

ul.theNav {
    list-style-type: none;
    position: fixed; 
    margin: 0;
    padding: 0;
    padding-left: 20px;
    overflow: hidden;
    z-index: 20;
    background-color:cadetblue;
    width: 100vw;
    border-bottom: 1px solid rgb(144, 168, 144);
  }
  
ul.theNav li {
    float: left;
   
  }

  ul.theNav button{
    background-color: transparent;
      border: none;
      outline: none;
      transition: all .5s ease-out;
  }
  ul.theNav button:hover{
    background-color: rgb(132, 161, 223);
  }
ul.theNav li a {
    display: block;
    font-size: 30px;
    font-family: 'Zen Loop', cursive;
    color: rgb(36, 37, 39);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul.theNav li a:hover{
      color: thistle;
  } 
  ul.theNav img {
      max-width: 30px;
  }

  ul.theNav li:last-of-type{
     left: 94vw;
     top: 10px;
      position: absolute;
  }
#landing h1 > span.country{
    color: green;
}

#landing h1 > span.jobTitle{
    text-decoration: underline;
}

em, p{
    color: honeydew;
    font-size: 30px;
}

#about{
    padding: 60px 20px;
    height: 50vh;
    font-family: 'Montserrat', sans-serif;
}
#about .iconRow{
    display: flex;
   
}

#about .iconRow .single{
    width: 25%;
    justify-content: center;
    text-align: center;
}

#about .texts{
    display: flex;
    padding-top: 10px;
    padding-left: 14%;
    align-items: center;
}

#about .texts div{
    width: 40%;
}

#about .texts div h2{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: end;
    margin-right: 20px;
}

#about .texts div p{
    font-size: 20px;
    margin-left: 20px;
}

.single:nth-child(2) img{
    margin-top: 20px;
    width: 15% !important;
}

#skillSet{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
}

#skillSet div{
    margin: 5%;
}

#skillSet img{
    max-width: 100px !important;
    filter: drop-shadow(0 0 0.75rem rgb(166, 171, 219));
    transition: all .2s ease-out;
}

/* #skillSet img::hover{
    background-color: rebeccapurple;
    transform: scale(1.1);
}  */

section#about + h2, #lastSection h2 {
    margin-left: 5vw;
    font-family: 'Otomanopee One', sans-serif;
    color: rgba(255, 248, 220, 0.692);
    font-size: xx-large;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #6ea1e4d8;
    margin: 5%;
    padding: 20px;
    border: 2px solid rgb(66, 66, 66);
    height: 100%;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    font-size: xx-large;
  }
  
  .modal-content a{
      text-decoration: none;
      transition: all 1s ease-out;
  }

  .modal-content a:hover{
    text-decoration: underline;
}

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#lastSection h2 a{
    padding: 30px 20px 0 20px;
    background-color: darkgrey;
    border: 4px solid #0000 !important;
    font-family: 'Otomanopee One', sans-serif;
    font-size: xx-large;
    color: #ffff;
}

footer{
    display: flex;
    background-color: rgb(52, 95, 97);
    height: 60px;
    position: sticky;
    padding-top: 10px;
}

footer div a {
    margin-left: 20px;
    margin-right: 20px;
}
footer a > img{
    max-width: 50% !important;
}

#backToTop{
    position: fixed;
    outline: none;
    border:none;
    border-radius: 50%;
    top: 85vh;
    left:90vw;
    padding: 20px;
    cursor: pointer;
    z-index: 100;
    /* hide with opacity */
    /* opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
    transition: all .1s ease-in; */
}

.scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all .5s ease
  }

.showBtn {
    opacity: 1;
    transform: translateY(0)
  }

#backToTop:hover{
    background-color: teal;
}


@media only screen and (max-width: 768px) {
    section#landing{
        max-height: 47vh !important;
        padding-top: 14vh;
    }

    #about {
        padding: 43px 0;
        height: auto;
    }
    #about .texts div {
        width: 82%;
    }
    #about .texts {
       
        padding-left: 0;
        flex-direction: column;
        justify-content: space-evenly;
  }
}
@media only screen and (max-width: 425px) {
    ul.theNav li.lg {
        display: none;
       }
    li img.icon{
        opacity: 1;
    }
    ul.theNav li:last-of-type {
        left: 88vw;
        position: fixed;
    }
    .modal-content {
        text-align: left;
        font-size: 22px;
      }
    #landing h1{
        font-size: 30px;
    }
    #about .iconRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    #about .iconRow .single {
        width: 57%;
    }  
    #skillSet{
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: space-around;
    }
    section#lastSection h2{
        font-size: 20px;
    }
    #lastSection h2 a {
        padding: 0;
       font-size: inherit;
    }
    #backToTop{
        width: 38px;
        height: 40px;
        padding: 5px;
    }
  }