@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Loop:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
body{
    background-color: cadetblue !important;
    font-family: 'Zen Loop', cursive;
    margin: 0;
}

#landing{
    background-image: url('https://picsum.photos/id/135/2560/1920');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: left;
    padding-top: 30vh;
    padding-left: 7vw;
    position: relative;
}

#landing h1{
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 7px;
}
#landing nav{
    padding-right: 3vw;
    text-align: end;
    position: absolute;
    top:4%;
    right: 3%;
}
nav img.icon{
    max-width: 30px;
}

#landing h1 > span.country{
    color: green;
}

#landing h1 > span.jobTitle{
    text-decoration: underline;
}

em, p{
    color: honeydew;
    font-size: 30px;
}

#about{
    padding: 60px 20px;
    height: 50vh;
    font-family: 'Montserrat', sans-serif;
}
#about .iconRow{
    display: flex;
   
}

#about .iconRow .single{
    width: 25%;
    justify-content: center;
    text-align: center;
}

#about .texts{
    display: flex;
    padding-top: 10px;
    padding-left: 14%;
    align-items: center;
}

#about .texts div{
    width: 40%;
}

#about .texts div h2{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: end;
    margin-right: 20px;
}

#about .texts div p{
    font-size: 20px;
    margin-left: 20px;
}

.single:nth-child(2) img{
    margin-top: 20px;
    width: 15% !important;
}

#skillSet{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
}

#skillSet div{
    margin: 5%;
}

#skillSet img{
    max-width: 100px !important;
    filter: drop-shadow(0 0 0.75rem rgb(127, 138, 233));
    transition: all 2s ease-out;
}

/* #skillSet img::hover{
    max-width: 120px !important;
} */

section#about + h2, #lastSection h2 {
    margin-left: 5vw;
    font-family: 'Otomanopee One', sans-serif;
    color: rgba(255, 248, 220, 0.692);
    font-size: xx-large;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #6ea1e4d8;
    margin: 5%;
    padding: 20px;
    border: 2px solid rgb(66, 66, 66);
    height: 100%;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    font-size: xx-large;
  }
  
  .modal-content a{
      text-decoration: none;
      transition: all 1s ease-out;
  }

  .modal-content a:hover{
    text-decoration: underline;
}

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#lastSection h2 a{
    padding: 30px 20px 0 20px;
    background-color: darkgrey;
    border: 4px solid #0000 !important;
    font-family: 'Otomanopee One', sans-serif;
    font-size: xx-large;
    color: #ffff;
}

footer{
    display: flex;
    background-color: rgb(52, 95, 97);
    height: 60px;
    position: sticky;
    padding-top: 10px;
}

footer div a {
    margin-left: 20px;
    margin-right: 20px;
}
footer a > img{
    max-width: 50% !important;
}